@import "../img/sprites/_sprite";
$color-white        : #ffffff;
$color-gray         : #cccccc;
$container-width    : 1280px;
$footer-height      : 50px;
$body-font          : 'helveticaneuecyrlight', Helvetica, sans-serif;
$first-margin: 0px;

// * {
// 	-moz-box-sizing: border-box; /*Firefox 1-3*/
// 	-webkit-box-sizing: border-box; /* Safari */
// 	box-sizing: border-box;
// }

html {
	width:100%;
	height:100%;
	font-size: 100.01%;
}

body {
	font: 100%/1.5em $body-font;
    -webkit-font-smoothing: antialiased;
	width:100%;
	height:100%;
}

.container {
    min-width: $container-width ;
		width: 1280px;
    margin: 0 auto;
    position: relative;
    @include clearfix;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    min-width: $container-width + 70;
    background: $color-white;
		margin: 0 auto;

    &:after {
	    display: block;
        position: relative;
        height: $footer-height;
    }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
	list-style: none outside none;

	li {
        padding: 0;
        left: 0;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
	position: relative;
	//margin-top: -$footer-height;
	height: $footer-height;
}
.has-error{
    border-color: #f97e76 !important;
    background: #ffcfcc !important;
}
.qtip-red {
    padding: 2px 0;
    border-color: #fff;
    font-size: 12px;
    background: #990000;
		color: #fff;
    // background-image: linear-gradient(to bottom,#f3a58b,#d67c5a);
    box-shadow: inset 1px 1px 0 #f7c0ad;
    text-shadow: rgba(255,255,255,0.5) 0px .5px .5px;
    color: #9a4e32;
}
.qtip-content{
	color: #fff;
	font-size: 12px;
font-family: 'helveticaneuecyrroman';
}
.qtip-default{
	background-color: #e48e70;
}
.myStyle.qtip-pos-tl{
    color: red;
}
.popup{
			display: none;
			position: relative;
	    width: 433px;
	    height: 300px;
	    background: #fff;
	    border: 3px solid #ff0000;
	    padding-top: 40px;
	    margin: 0 auto;
	.line {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 1px solid #cc0000;
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 31px;
		top: 91px;
		left: 212px;
		background: #fff;
	}
	.input{
		width: 290px;
		margin-left: 1px;
		margin-bottom: 6px;
	}
	.btn{
		width: 350px;
		height: 60px;
		font-family: 'helveticaneuecyrmedium';
		font-size: 18px;
	}
	.icon__application{
		left: 43px;
	}
}
.call__name{
	@include sprite-image($user);
	background-repeat: no-repeat;
	background-position:  10px 10px;
}
.call__phone{
	@include sprite-image($phone);
	background-repeat: no-repeat;
	background-position:  10px -167px;
}
.call__title{
	text-align: center;
	margin-bottom: 85px;
	&:after{
		display: block;
    content: '';
    width: 164px;
    border-bottom: 2px solid #cc0000;
    top: 96px;
    left: 136px;
    right: 0;
    position: absolute;
	}
}
.call__text{
	font-family: 'helveticaneuecyrbold';
	font-size: 24px;
	color: #000;
}
.b-close{
	width: 15px;
	height: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.call__form{
	text-align: center;
}
.b-close{
	font-family:'helveticaneuecyrbold' ;
	font-size: 18px;
	color: #ccc;
	cursor: pointer;
}
