doctype html
html(lang="ru-RU")
    head
        meta(charset = "utf-8")
        meta(http-equiv = "X-UA-Compatible" content = "IE = edge")
        meta(content='True' name='HandheldFriendly')
        meta(content='width=480px; initial-scale=0.50; maximum-scale=0.50;minimum-scale=0.50;' name='viewport')
        meta(name="viewport" content="width=480px")
        title
            block title
        link(rel="apple-touch-icon" sizes="57x57" href="app/favicons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="app/favicons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="app/favicons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="app/favicons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="app/favicons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="app/favicons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="app/favicons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="app/favicons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="app/favicons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" href="app/favicon/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="app/favicon/favicon-16x16.png" sizes="230x230")
        link(rel="icon" type="image/png" href="app/favicon/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="app/favicon/android-icon-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="app/favicon/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="app/favicons/manifest.json")
        link(rel="shortcut icon" href="app/favicons/favicon.ico")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="msapplication-TileColor" content="#27353f")
        meta(name="msapplication-TileImage" content="app/favicons/ms-icon-70x70.png")
        meta(name="msapplication-TileImage" content="app/favicons/ms-icon-144x144.png")
        meta(name="msapplication-TileImage" content="app/favicons/ms-icon-150x150.png")
        meta(name="msapplication-TileImage" content="app/favicons/ms-icon-310x310.png")
        meta(name="msapplication-config" content="app/favicons/browserconfig.xml")
        meta(name="theme-color" content="#27353f")
        //-SEO-------------------------------------------------------
        meta(name = "description" content = "")
        meta(name = "keywords" content = "")
        meta(name = "author" content = "PShlt")
        //link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        //link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        link(href="app/css/plugins/normalize.css" rel="stylesheet")
        link(rel="stylesheet" type='text/css' href="app/fonts/stylesheet.css")
        link(rel="stylesheet" type='text/css' href="app/css/main.css")
        link(rel="stylesheet" href='app/css/plugins/jquery.qtip.min.css')
        link(rel="stylesheet" href="app/css/plugins/jquery.bxslider.css" )
        script(src="app/js/_plugins/modernizr.js")

        title
            block title
    body
      .wrapper
        .maincontent
          block content
          
      script(src='app/js/_plugins/jquery.min.js')
      script(src='app/js/_plugins/jquery.qtip.min.js')
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3JFR7oMg2XGuX4TDOuFJZheJay9JwNk&sensor=false" type="text/javascript")
      script(src='app/js/_plugins/jquery.bpopup.min.js')
      script(src='app/js/_plugins/jquery.maskedinput.js')
      script(src='app/scripts/main.min.js')
